.tabs .tab a{
        color:#757575 ;
        background-color: #fafafa;
    } /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eeeeee;
    color:#757575 ;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#bbdefb;
    color:#212121  ;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#0d47a1  ;
} /*Color of underline*/

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #bbdefb;
    outline: none;
}